* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sessao__jogos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.imagens__logo img{
    height: 120px;
}